@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 30px;
    font-weight: 500;
    cursor: pointer;
}

.btn-action {
    background-color: #0DAA2A;
    width: 120px;
    height: 30px;
    border-radius: 8px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    border: none;
}

.hidden {
    display: none;
    visibility: hidden;
}

.loider {
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    position: absolute;
    top: 0;
}

dotlottie-player {
    width: 200%;
}


.sec1 {
    display: flex;
    height: 70vh;
}



.stud {
    object-fit: fill;
    border-radius: 8px;
}

.foot-stud{
    height: 70vh;
    position: relative;
    
}

/*******************************************************/

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.data{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
}

.Players-container{ 
    position: absolute;
    top: 0;
    width: 100% !important;
    height: 100%;
    color: white;
}

.attackers{
    width: 100% !important;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content:  space-around;
    column-gap: 50px;
    padding-top: 20px;
}

.Mid{
        width: 100% !important;
        display: grid;
        grid-template-columns: 100px 100px 100px;
        justify-content:  center;
        column-gap: 80px !important;
        margin-top: 30px;
}


.attackers img,.Mid img,.Def img,.Gk img{
    height: 110px;
}

.Def{
    width: 100% !important;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    justify-content:  space-between;
    column-gap: 50px;
    margin-top: 60px;
    padding: 0 40px;
}

#cb{
    transform: translateY(60px);
}

.Mid div:nth-child(2){
    transform: translateY(40px);
}

 #lw{
    transform: translateY(30px);
}

.Gk{
    width: 100% !important;
    display: grid;
    grid-template-columns: 100px;
    justify-content:  center;
    column-gap: 50px;
    margin-top: 50px;
}

.plimg{
    width: 60px;
    height: 50px !important;
}

.pl-img{
    position: absolute;
    left: 20px;
    top: 20px;
}
.pl-name{
    color: rgb(80, 56, 56);
    margin-top: 70px;
    text-align: center;
    font-weight: bolder;
    font-size: 50%;

}
.pl-power{
    color: rgb(80, 56, 56);
    position: absolute;
    top: 18px;
    left: 20px;
    font-weight: bolder;
    font-size: 7px;
}

.stats{
    position: absolute;
    width: 100%;
    height: 100%;
}

.flags{
    position: absolute;
    width: 100%;
    top: 78px;
    left: 33px;
}
.flags img{
    width: 15px;
    height: 10px;
}

.pl-pos{
    color: rgb(80, 56, 56);
    position: absolute;
    top: 30px;
    left: 20px;
    font-weight: bolder;
    font-size: 7px;
}

/*/*********************************/
.content{   
    width: 100%;
    height: 87vh !important;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.addbtn{
    background-color: #0DAA2A;
    color: white;
    width: 310px;
    height: 40px;
    font-size: larger;
    font-weight: bolder;
    border: 1px black solid;
    cursor: pointer;
    margin-bottom: 10px;
}

.pl-container{
    display: grid;
    grid-template-columns: 50px 50px 50px;
    column-gap: 50px;
    top: 10px;
    width: 300px;
}

.pl-container .pl-name{
    width: 100%;
    margin-left: 25px;
}
.card-img{
    height: 110px;
    margin-left: 50px;
}

.crd{
    justify-content: start;
}

.cont{
    height: 100%;
    background-color: #152e1a;
    border-radius: 8px;
    overflow: scroll;
    position: relative;
}

.cont::-webkit-scrollbar{
    display: none;
}


/*/*****************************************/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #f8f8f8;
    padding: 30px;
    border-radius: 10px;
    width: 450px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    position: relative;
}

.modal-content .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
}

h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input, select {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.stats-group {
    display: flex;
    flex-wrap: wrap;
}

.stats-group input {
    width: 80px;
    margin-left: 10px;
    margin-bottom: 5px;
}


output {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0DAA2A;
}

.btn-sub {
    background-color: #0DAA2A;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.btn-sub:hover {
    background-color: #098a22;
}



/* @media(max-width:951px){
    .sec1{
        flex-direction: column;
    }
    .content{
        flex-direction: row;
        justify-content: space-between;
    }
    .cont{
        width:45%;
        height: 50%;
    }
    .Players-container{
        width: 100%;
    }

    .pl-container{
        grid-template-columns: 50px 50px 50px 50px;
        
    }
} */


.det {
    border: 3px solid #098a22;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    position: absolute;
    top: 0;
  }
  
  .det-flags img {
    width: 50px;
    height: auto;
    margin-right: 10px;
  }

  .close-det{
    float: right;
    cursor: pointer;
  }

  .position{
    cursor:move;
  }

  .deletebtn{
    background-color: transparent;
    border: none;
    cursor: pointer;
  }



  @keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }

  .shake{
    animation: tilt-shaking 0.5s infinite;
  }

  .occupie{
    display: none;
  }